<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPaymentProcessor">
                    <reliableSession inactivityTimeout="24.20:31:23" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:15000/paymentprocessor"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPaymentProcessor"
                contract="TCPPaymentService.IPaymentProcessor" name="NetTcpBinding_IPaymentProcessor" />
        </client>
    </system.serviceModel>
</configuration>